---
import Linkedin from "./icons/Linkedin.astro";
import Github from "./icons/Github.astro";
import { LINKS } from "../constants";

const year = new Date().getFullYear();
---

<div
  class="mt-24 text-blue-100/20 text-[10px] font-black uppercase tracking-[0.4em] flex flex-col md:flex-row items-center justify-center gap-4 text-center w-full"
>
  <span>Stardate {year}</span>
  <div class="w-1 h-1 bg-white/20 rounded-full hidden md:block"></div>
  <span>Sector: Houston</span>
  <div class="w-1 h-1 bg-white/20 rounded-full hidden md:block"></div>
  <div class="flex items-center gap-4 md:contents">
    <a
      href={LINKS.LINKEDIN}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-[#00f2ff] transition-colors flex items-center gap-1.5"
    >
      <Linkedin size={10} />
      <span>LinkedIn</span>
    </a>
    <div class="w-1 h-1 bg-white/20 rounded-full md:block"></div>
    <a
      href={LINKS.GITHUB}
      target="_blank"
      rel="noopener noreferrer"
      class="hover:text-[#00f2ff] transition-colors flex items-center gap-1.5"
    >
      <Github size={10} />
      <span>GitHub</span>
    </a>
  </div>
</div>
